.navMenuContainer {
  margin-right: 30px;
}

.navMenuContainer ul {
  display: flex;
  align-items: center;

  list-style-type: none;
}

.navMenuContainer li {
  padding: 5px 30px 5px 30px;

  color: white;
  font-size: 1rem;

  cursor: pointer;
}

.loginButton {
  border: 1px solid white;
}

@media (max-width: 750px) {
  .navMenuContainer {
    display: none;
  }
}
