.articleDisplayContainer {
  display: flex;
  justify-content: center;

  margin-top: 50px;
}

.articleDisplayGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  place-items: center;

  width: 100%;
  max-width: 1400px;
}

.articlePreviewContainer {
  height: 400px;
  width: 400px;

  border: 1px solid black;

  cursor: pointer;
}

.articlePreviewContainer img {
  height: 60%;
  width: 100%;

  object-fit: cover;
}

.articlePreviewContainer h1 {
  margin-left: 10px;
}

.articlePreviewContainer p {
  margin-left: 10px;
}

@media (max-width: 1500px) {
  .articleDisplayGrid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 900px;
  }
}

@media (max-width: 1100px) {
  .articleDisplayGrid {
    grid-template-columns: 1fr;
  }
}
