.headerContainer {
  height: 500px;
  margin-top: 70px;

  background-color: red;
}

.headerTitleContainer {
  display: flex;
  align-items: center;
  height: 400px;
}
.headerTitle {
  margin-left: 50px;

  font-size: clamp(2.1rem, 5vw, 4rem);
  color: white;
}

.headerSearchContainer {
  display: flex;
  justify-content: center;
  align-items: end;
}

.headerSearchContainer input {
  height: 50px;
  width: 400px;
}

.headerSearchContainer button {
  height: 50px;
  width: 100px;
}

@media (max-width: 600px) {
  .headerContainer {
    height: 350px;
  }

  .headerTitleContainer {
    height: 200px;
    justify-content: start;
    margin-left: 0;
  }
  .headerTitle {
    font-size: 2.1rem;
    margin-left: 20px;
  }

  .headerSearchContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .headerSearchContainer input {
    max-width: 400px;
    width: 90vw;
  }

  .headerSearchContainer button {
    max-width: 400px;
    width: 90vw;
  }
}
